# common ignores for git

### Node.js

# Logs
log
*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

### Windows

# thumbnail
Thumbs.db

### Vim

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
*~

# ECMA/JavaScript htdoc
htdocs/**/js/*.js
htdocs/**/js/*.map
dist/
out/

# generic files
*~
*.lock
*.old
*.out
*.swp

# .gitignore
